.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.button-form {
  background-color: hsl(213, 96%, 18%);
  color: #fff;
  width: 120px;
  height: 40px;
  padding: 1%;
  border: none;
  border-radius: 5px;
  font-family: "Ubuntu";
  font-weight: 600;
  transition: 1s ease-in;
}


.button-form-white {
  background-color: #ffffff;
  color: hsl(213, 96%, 18%);
  width: 120px;
  height: 40px;
  padding: 1%;
  border: none;
  border-radius: 5px;
  font-family: "Ubuntu";
  font-weight: 600;
  transition: 1s ease-in;
}

.button-form:hover {
  background-color: #fff;
  color: hsl(213, 96%, 18%);
  ;
  border: 1px solid hsl(213, 96%, 18%);
  cursor: pointer;
}

.button-form-white:hover {
  cursor: pointer;
}

.button-form[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.button-form[disabled]:hover {
  background-color: inherit;
}

.form-style {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 60vh;
  padding: 5%;
}

.input-flow {
  display: flex;
  flex-direction: column;
}

.input-flow .labels {
  font-family: "Ubuntu";
  margin-top: 5%;
  margin-bottom: 5px;
  font-size: 14px;
  color: hsl(213, 96%, 18%);
}

.title-form {
  color: hsl(213, 96%, 18%);
  font-family: "Ubuntu";
  font-size: 2rem;
  text-align: left;
  margin-top: 3%;
  margin-bottom: 5px;
}

.provide-text {
  color: hsl(231, 11%, 63%);
  font-family: "Ubuntu";
  font-size: 14px;
}

.form-input {
  border-radius: 12px;
  border: 1px solid hsl(231, 11%, 63%);
  padding: 15px;
  width: 100%;
  font-size: 14px;
  font-family: "Ubuntu";
  transition: border 0.3s, box-shadow 0.3s;
  color: hsl(213, 96%, 18%);
  font-weight: 600;
}

.form-input::placeholder {
  color: hsl(231, 11%, 63%);
  font-size: 14px;
  font-family: 'Ubuntu';
}



.form-input:focus {
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgb(90, 90, 230),
    0 0 5px rgb(90, 90, 230),
    0 0 5px rgb(90, 90, 230);
  outline: none;/
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-right: 3%;
  width: 70%;
}

.button-container-first {
  display: flex;
  justify-content: end;
  margin-right: 3%;
  width: 70%;
}

.tracking-in-expand {
  animation: tracking-in-expand 0.7s linear both;
}

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.2em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    opacity: 1;
  }
}


.scale-up-center {
  animation: scale-up-center 0.4s;
}

@keyframes scale-up-center {
  0% {
    transform: scale(.5)
  }

  100% {
    transform: scale(1)
  }
}

.boxes {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 6%;
}

.box {
  border: 2px solid hsl(231, 11%, 63%);
  border-radius: 5px;
  height: 18vh;
  width: 100%;
  margin-right: 3%;
  transition: 500ms;
}

.box:hover {
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgb(90, 90, 230),
    0 0 5px rgb(90, 90, 230),
    0 0 5px rgb(90, 90, 230);
  outline: none;
  cursor: pointer;
}

.box-selected {
  border: 1px solid transparent;
  box-shadow: 0 0 5px rgb(90, 90, 230),
    0 0 5px rgb(90, 90, 230),
    0 0 5px rgb(90, 90, 230);
  outline: none;
}

.box-logo {
  max-height: 40px;
  max-width: 40px;
  margin-bottom: 50px;
}

.box-content {
  display: flex;
  flex-direction: column;
  padding: 7%;
}

.span-box1 {
  color: hsl(213, 96%, 18%);
  font-family: 'Ubuntu';
  font-weight: 600;
  font-size: 14px;
}

.span-box2 {
  color: hsl(231, 11%, 63%);
  font-family: 'Ubuntu';
  font-size: 14px;
}


.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 97%;
  background-color: hsl(230, 30%, 96%);
  margin-top: 8%;
  padding: 12px;
  border-radius: 5px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 96%, 18%);
  transition: background-color 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: hsl(213, 96%, 18%);
}

input:checked+.slider:before {
  transform: translateX(26px);
}


.option {
  color: hsl(231, 11%, 63%);
  font-weight: bold;
  font-family: 'Ubuntu';
  font-size: 14px;
  transition: 1s
}

.option.no {
  margin-right: 6px;
}

.option.yes {
  margin-left: 6px;
}

.option-active {
  color: hsl(213, 96%, 18%);
}

.pick-adds {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 97%;
  height: 45vh;
}

.pick {
  border: 1px solid hsl(243, 100%, 62%);
  padding: 5%;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 1ms;
}

.check-form {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}


.content-pick {
  display: flex;
  width: 100%;
  align-items: center;
}

.content-pick p {
  font-family: 'Ubuntu';
  font-weight: 600;
  font-size: 14px;
  color: hsl(213, 96%, 18%);
}


.content-pick span {
  font-family: 'Ubuntu';
  font-size: 14px;
  color: hsl(231, 11%, 63%)
}

.pick-price {
  font-family: 'Ubuntu';
  font-size: 14px;
  color: hsl(243, 100%, 62%);
  font-weight: 400;
}

.resume {
  width: 100%;
  margin-top: 3%;
  border-radius: 8px;
  background-color: hsl(231, 100%, 99%);
  height: 30vh;
  font-family: 'Ubuntu';
}

.resume-content {
  padding: 5%;
}

.title-resume {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 3px;
}

.value-plan {
  color: hsl(213, 96%, 18%);
  font-weight: 600;
  font-family: 'Ubuntu';
}

.type-plan {
  font-family: 'Ubuntu';
  font-size: 16px;
  color: hsl(213, 96%, 18%);
}

.border {
  background-color: hsl(231, 11%, 63%);
  width: 100%;
  height: 0.1px;
  opacity: 0.2;
  margin-top: 2%;
  margin-bottom: 3%;
}

.change-plan {
  font-family: 'Ubuntu';
  font-size: 14px;
  color: hsl(243, 100%, 62%);
  transition: 1ms;
}

.change-plan:hover {
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.list-style {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-addons {
  font-family: 'Ubuntu';
  font-size: 14px;
  color: hsl(231, 11%, 63%);
  display: flex;
  margin-top: 3%;
}

.form-style-finale {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  padding: 5%;
}

.img-ty {
  max-width: 25%;
  max-height: 25%;
}

.ty-title {
  font-size: 2rem;
  color: hsl(213, 96%, 18%);
  font-family: 'Ubuntu';
  margin-top: 10px;
}

.ty-p {
  width: 70%;
  color: hsl(231, 11%, 63%);
  font-family: 'Ubuntu';
  text-align: center;
  margin-top: 13px;
  font-size: 14px;
}

@media (max-width: 767px) {

  .form-style {
    padding: 0;
  }

  .title-form {
    font-size: 1.3rem;
  }

  .provide-text {
    font-size: 12px;
  }

  .button-container-first {
    margin-bottom: 10%;
  }

  .boxes {
    flex-direction: column;
  }

  .box {
    height: 10vh;
    margin-bottom: 3px;
  }

  .box-content {
    flex-direction: row;
    justify-content: space-between;
  }

  .switcher {
    width: 100%;
  }

  .button-container {
    margin-bottom: 13%;
  }
}